# Byte-compiled / optimized / DLL files
__pycache__/

# Virtual environments
venv/
.env/

# Media
/media/
media/
shop_images/

# Static files (если собраны вручную)
staticfiles/
static/

# Migrations (по желанию — если не хочешь коммитить)
**/migrations/

# VS Code, PyCharm и другие IDE
.vscode/
.idea/

# Coverage / testing
htmlcov/
.pytest_cache/

# Build
build/
dist/
*.egg-info/
.eggs/

logs/